@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    /* overflow: hidden; */
}

:root {
    --bg-primary: #3a3a3bff;
    --bg-secondary: #4a4a4dff;

    --button-group-primary-bg: #767676d6;

    --text-primary: #f0f7f4ff;
}


